.gitreview
.build_vars-*.sh
.build_vars-*.json
.build_vars-*.py
.sconf_temp
config.log
config-*.log
/objects/
/build/
/test/output/
/_build.external/
/_build.external-*/
.sconsign-*.dblite
/.scons-temp-*/
*.tar.gz
/install/
iof-*.conf
__pycache__
*~
*.BAK
.*.swp
\#*#
/valgrind_results/
pylint.log
.checkpatch-camelcase.git.
