.gitreview
.build_vars-*.sh
.build_vars-*.py
config.log
config-*.log
/objects/
/build/
/_build.external/
/_build.external-*/
.sconsign-*.dblite
/.scons-temp-*/
*.tar.gz
/install/
iof-*.conf
*~
*.BAK
.*.swp
\#*#
/testDir/
/testLogs/
pylint.log
