.gitreview
.build_vars.sh
.build_vars.json
config.log
/objects/
symbols.txt
/build/
/test/output/
/_build.external-*/
.sconsign.dblite
/.sconf_temp/
*.tar.gz
/install/
autodocs/
iof.conf
__pycache__
*~
*.BAK
.*.swp
\#*#
/valgrind_results/
pylint.log
.checkpatch-camelcase.git.
